#profile-pic {
    border-radius: 50%;
    width: 11rem;
    height: 10.5rem;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: whitesmoke;
}

.langs{
    /* background-color:aquamarine; */
    padding-left: 2rem;
    padding-right: 2rem;
}

a {
    text-decoration: none;
  }

/* #main-divs {
    border: 1px solid sandybrown;
    /* width: 50rem; */

.logo {
    width: 11rem;
}

hr {
    width: 50%;
}
